<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    <h1>Primeiro Template</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa modi cum accusamus esse dolores, tempore unde voluptatem ad tenetur inventore! Quia quaerat nam sunt rerum dignissimos reprehenderit eveniet perferendis quidem!</p>
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
</body>
</html>