
body {
	background-color: #eeeeee;
	color: #6f6f6f;
	margin: 0px; /* Propriedade acrescentada no exercício de layouts CSS */
}

header{
	background-color: white;
	
	/* As propriedades abaixo foram acrescentadas no exercício de layouts CSS */
	height: 80px;
	margin: 0px;
	padding-right: 1rem;
	display: flex;
    justify-content: space-between;
	align-items: center;
}

main {
	/* As propriedades abaixo foram acrescentadas no exercício de layouts CSS */
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 0px;
	margin-bottom: 100px;
}

footer{
	background-color: white;
	height: 50px;
	
	/* As propriedades abaixo foram acrescentadas no exercício de layouts CSS */
	text-align: center;
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 5px;
}

h1 {
	background-color: #ff4020;
	color: white;
	font-size: 2em;
	margin-top:0; /* Propriedade acrescentada no exercício de layouts CSS */
}

nav a{
	font-size: 1rem;
	font-family: Arial, Helvetica, "sans serif";
	font-weight: bold;
	text-decoration: none;

	/* As propriedades abaixo foram acrescentadas no exercício de layouts CSS */
	background-color: #ededed;
	border: 1px solid #bbbbbb;
	padding: 5px;
	margin: 1px;
}

nav a:link, a:visited{
	color: #6f6f6f;
}

nav a:hover{
	color:  #ff4020;
	text-decoration: underline;
}

nav a:active{
	color: blue;
	text-decoration: underline;
}

.titulo-article {
	color: royalblue;
}


#link-email{
	text-decoration: none;
}

#link-email:link, #link-email:visited {
	color: blue;
}

#link-email:hover{
	color: #ff4020;
	text-decoration: underline;
}
